<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <Center>
       <h1>PYTHON PROGRAM</h1>
       <br>
       <form action="/evaluate" method="POST"> {% csrf_token %}

        <label for="maths">Enter your Maths Marks</label>
        <input type="number" id="maths" name="maths" required>
        <br> <br>
        <label for="science">Enter your Science Marks</label>
        <input type="number" id="science" name="science" required>
        <br> <br>
        <label for="computer">Enter your computer Marks</label>
        <input type=comp" id="comp" name="comp" required>

        <br>
        <br>
        <br>
        <input class="btn" type="submit">
        


       </form>
   </Center>
</body>
</html>